<html lang="en">
<head>
  <title>Welcome to Hachiman</title>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/public/css/index2.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  
</head>
<body style="background-color: grey;">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/public/images/logo.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link  active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add-project">Add Project</a>
          </li>
        </ul>
          <a class="btn btn-outline-light" href="/contact-me">Contact Me</a>
      </div>
    </div>
  </nav>
  <!-- content -->
  <div id="main-card" class="main-card border border-info-subtle shadow rounded bg-dark">
    <div class="d-flex flex-lg-row flex-column">
    <div class="w-100 content-left">
      <h2 class="my-4" style="color:#c0731c ;">Hi Welcome to Hachiman</h1>
        <p class="text-light">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia
          temporibus mollitia impedit repudiandae? Non, assumenda! Dignissimos
          sed, accusamus aspernatur itaque at ut perferendis consequatur dolorem
          ad temporibus corrupti molestiae id, iusto saepe sint iure.
          Praesentium assumenda, eveniet placeat explicabo perferendis,
          consequuntur nesciunt optio corrupti quaerat error porro officiis.
          Cupiditate, vitae!
        </p>
        <br/>
        <a class="btn btn-outline-light" href="contact-me.html"> contact </a>
        <div class="d-flex">
          <br/>
          <p class="mt-3 ms-2 text-light">download CV</p>
          <a href="#"><img src="/public/images/download.png" class="cv-icon bg-light border rounded-circle" alt="linkedin" /></a>
        </div>
        <div class="d-flex justify-content-center sosmed">
          <a href="https://www.linkedin.com/in/muhammad-hafidz-haiqal-putra-6abb3725b/" target="_blank"  class="me-3">
            <img src="/public/images/linkedin.png" alt="linkedin" class="border border-light-subtle rounded-circle bg-light" />
          </a>
          <a href="https://www.instagram.com/kaabiee/" target="_blank"  class="me-3">
            <img src="/public/images/instagram.png"  class="border border-light-subtle rounded-circle bg-light"  alt="instagram" />
          </a>
          <a href="https://www.facebook.com/GansGils/" target="_blank"  class="me-3">
            <img src="/public/images/facebook.png" class="border border-light-subtle rounded-circle bg-light"  alt="facebook" />
          </a>
          <a href="https://www.twitter.com" target="_blank"  class="me-3">
            <img src="/public/images/twitter.png" class="border border-light-subtle rounded-circle bg-light"  alt="twitter" />
          </a>
        </div>
    </div>
    <div class="d-flex justify-content-end ">
      <div id="photo-card" class="photo-card">
        <img src="/public/images/pp.jpg" alt="photo aku" class="rounded img-photo img-fluid" />
        <div >
          <p class="d-flex justify-content-center mt-3">
            Muhammad Hafidz Haiqal Putra
          </p>
          <p class="d-flex justify-content-center">Fullstack Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- my project list -->
<div class="border border-info-subtle m-4 shadow rounded bg-dark">
  <h2 class="d-flex justify-content-center text-light pt-5">My Project</h2>
  <div class="my-project-list d-flex flex-wrap">
    {{range $index, $data := .Project}}
    <div class="card m-auto my-5">
      <img src="/public/images/example-post.png" class="card-img-top" alt="...">
      <div class="card-body d-flex flex-column">
          <a class="card-title text-decoration-none" href="/detail-project/{{$index}}">{{$data.Title}}</a>
        <div class="d-flex ">
          <span class="me-3"><i class="bi bi-clock"></i> {{$data.Duration}} hours</span>
          <span class="me-3"><i class="bi bi-calendar"></i> {{$data.Start}}</span>
        </div>
        <div>
          <p class="card-text">{{$data.Desc}} </p>
        </div>
        <a class="show-more-btn">Show More</a>
        <div class="d-flex flex-column card-tech">
          <div class="d-flex">
            {{if .Node}}
            <img src='/public/images/nodejs.png'/>
            {{end}}

            {{if .React}}
            <img src='/public/images/atom.png' >
            {{end}}

            {{if .Next}}
            <img src='/public/images/next-js.png'>
            {{end}}

            {{if .Typesc}}
            <img src='/public/images/typescript.png'>
            {{end}}
          </div>
        </div>
        <div class="m-auto">
          <a href="/edit-project/{{$index}}" class="btn btn-dark px-4 me-3">Edit</a>
          <a href="/delete-project/{{$index}}" class="btn btn-dark px-4 ">Delete</a>
        </div>
      </div>
    </div>
    {{end}}
  </div>
</div>
  <script src="/public/js/script.js"></script>
  <script>
    const showMoreBtns = document.querySelectorAll('.show-more-btn');
    showMoreBtns.forEach((btn) => {
      btn.addEventListener('click', () => {
        const cardBody = btn.parentElement;
        const cardText = cardBody.querySelector('.card-text');  
        cardText.classList.toggle('show-more');
        if (cardText.classList.contains('show-more')) {
          btn.textContent = 'Show Less';
        } else {
          btn.textContent = 'Show More';
        }
      });
    });
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>